useDynLib(BRIDES)
import(igraph)
import(doParallel)
import(foreach)
import(iterators)
import(parallel)
importFrom("grDevices", "dev.off", "png", "postscript", "rainbow","svg")
importFrom("graphics", "legend", "plot","par")
importFrom("stats", "sd")
importFrom("utils", "read.table")
exportPattern("^[[:alpha:]]+")
