useDynLib(BRIDES)
import(igraph)
import(doParallel)
import(foreach)
importFrom("utils", "combn", "read.delim", "read.table", "write.table")
importFrom("grDevices", "dev.off", "png", "postscript", "rainbow","svg")
importFrom("foreach","%dopar%","foreach")
importFrom("parallel","detectCores","makeCluster","stopCluster")
importFrom("graphics", "legend", "plot")
importFrom("stats", "sd")
exportPattern("^[[:alpha:]]+")
